*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;   
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: gold;
}
h2{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-size: 50px;
}
form{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
legend{
    font-size: 40px;
    text-align: center;
    border: 2px groove green;
}
form input{
    border:none;
    border-bottom: 1px solid grey;
}
textarea{
    padding: 10px;
}
@media (min-width: 350px) and (max-width: 767px){
    nav a{
        font-size: 10px;
    }
    h2{
        font-size: 15px;
    }
    form{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    legend {
        font-size: 15px;
    }
}   
 @media (min-width: 768px) and (max-width: 1024px){
    h2{
        font-size: 25px;
    }
    form{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    legend {
        font-size: 30px;
    }
 } 
  