

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}



nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;

}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: gold;
}

h1 {
    text-align: center;
    margin: 2% 0;
}

.foto img {
    border-radius: 100%;
}

.central {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2%;
}

.lista {
    display: none;
}

.foto:hover + .lista {
    display: block;
}

.lista ul {
    width: 100%;
}

.lista li {
    margin-bottom: 5rem;
    list-style-type: none;
    text-align: center;
}

.cursor {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.2s ease, height 0.2s ease, border-width 0.2s ease;
}
.cursor--link-hover {
    width: 50px;
    height: 50px;
    border-width: 2px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.final {
    margin-top: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.final p {
    padding-bottom: 2%;
}


@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 30px;
    }

    .central {
        display: block;
        padding-left: 13%;
        padding-bottom: 10%;
    }

    .foto img {
        width: 80%;
        margin-bottom: 5%;
    }

    .lista li {
        text-align: center;
        margin-bottom: 1rem;
        padding-right: 20%;
    }

    .final {
        display: block;
        text-align: center;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    .menu {
        display: none;
        width: 100%;
    }

    .menu a {
        border-bottom: 1px solid #ccc;
    }

    .menu-toggle {
        display: block;
    }

    .menu.show {
        display: block;
    }

    h1 {
        font-size: 15px;
        margin-bottom: 10%;
        margin-left: -2%;
    }

    .central {
        display: block;
        padding-left: 13%;
        padding-bottom: 10%;
    }

    .foto img {
        width: 80%;
        margin-bottom: 5%;
    }

    .lista li {
        margin-bottom: 1rem;
        text-align: center;
    }

    .final {
        display: block;
        text-align: center;
    }
}
