*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
nav a{
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: gold;
}
.works{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
}
.imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
    height:90%;
    width: 100%;
    border-radius:15px ;
}
.texto{
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3{
    text-shadow: 0px 0px 15px rgb(255, 255, 255);
    padding-top: 40px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 27px;  
}

.texto p{
    text-align: center;
    padding: 20px;
    color:rgb(0, 0, 0);
    font-size: 0px;
    font-weight: 300;
}

.imagenes .texto{
    width: 500px;
    height: 80px;
    transition: 1s;
}

.imagenes:hover .texto{
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
}
.imagenes:hover .texto p{
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
}
.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 768px) and (max-width: 1024px){
    .works{
        height: 100vh;
    }
    .imagenes .texto {
        width: 50%;
        height: 120px;
    }
    
    .imagenes:hover .texto {
        transform: translateY(-100px);
        height: 250px;
    }
    
    .imagenes:hover .texto p {
        font-size: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .works{
        height: 100vh;
    }
    .texto h3{
        text-shadow: 0px 0px 15px rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: 300;
        font-size: 15px;  
    } 
    .texto p{
        text-align: center;
        color:rgb(0, 0, 0);
        font-weight: 300;
    }    
    .imagenes .texto{
        width: 40%;
        height: 50px;
        transition: 1s;
    }
    .imagenes:hover .texto{
        transition: height 1s, transform 1s, background-color 1s;
        transform: translateY(-20px);
        height: 100px;
    }
    .imagenes:hover .texto p{
        transition: font-size 0s .2s linear;
        font-size:12px;
        font-weight: 300;
        text-shadow: 0px 0px 10px #000000;
    }
}
