
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blanchedalmond;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: gold;
}


.head {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    padding-left: 5rem;
}


.intro {
    display: inline-block;
    padding: 3rem;
}

.intro h2,
.intro h4 {
    margin-bottom: 3%;
}


.educacion,
.experience {
    margin: 5%;
}

.educacion h3,
.experience h3 {
    margin-bottom: 2%;
}


.foto img {
    width: 60%;
    border-radius: 15px;
}


ul {
    list-style: upper-roman;
    margin: 1%;
}


.button {
    text-align: center;
}

.button button {
    border: 4px groove black;
    background-color: white;
    border-radius: 25px;
    padding: 5px;
}

.button button:hover {
    background: grey;
    color: wheat;
}


.habilidades {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .head {
        margin-top: 3%;
        display: block;
    }
    .foto{
        text-align: center;
        width: 100%;
    }
    .foto img {
        width: 40%;
    }

    .intro {
        width: 100%;
        text-align: center;
        padding: 0;
        padding-right: 10%;
        padding-left: 1%;
    }

    .educacion,
    .experience {
        margin: 5%;
    }
}

@media (min-width: 350px) and (max-width: 767px) {
    nav a {
        font-size: 10px;
    }

    .head {
        margin-top: 3%;
        display: block;
        text-align: center;
        margin-left: -25%;
        justify-content: center;
    }

    .head img {
        margin-bottom: 3%;
    }

    .intro {
        width: 70%;
        text-align: center;
        padding: 0;
    }

    .intro h2 {
        font-size: 15px;
        margin: 3%;
    }

    .intro p {
        font-size: 13px;
    }

    .educacion,
    .experience {
        margin: 5%;
        width: 70%;
        font-size: 13px;
        margin-left: 10%;
    }

    .habilidades {
        display: flex;
        width: 90%;
        padding: 0;
        margin: 0;
        font-size: 13px;
        margin-left: 5%;
    }

    ul {
        margin-bottom: 1%;
    }

    .button {
        padding-top: 1%;
        margin: 0;
    }
}
